#sidebar {
    overflow: hidden;
    color: white;
    background: rgb(33, 37, 43);
}

statusbar {
    padding: 0;
    display: block;
    background: #84b5e4;
    height: 18px;
    flow: horizontal;
}

#terminal-settings select {
    width: 100px;
}

#fast-control-panel {
    flow: horizontal;
    height: 30px;
    border-bottom: 1px solid black;
}

.button {

}
